{% load static %}

<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasExampleLabel">Carro de compras</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <div class="cart-items">
            <div class="cart-item border rounded p-2 mb-2">
                <div class="d-flex align-items-center">
                    
                </div>
            </div>
            <div class="cart-item border rounded p-2 mb-2">
                <div class="d-flex align-items-center">
                    
                </div>
            </div>
        </div>
    </div>

    <div class="offcanvas-footer">
        <div class="cart-total">
            <p>Total:</p>
            <p class="total-price">$ {{importe_total_carro}} CLP</p>
        </div>
        <button class="btn btn-primary btn-checkout">Ir a pagar</button>
    </div>
</div>