{% load static %}

<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasExampleLabel">Carro de compras</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    {% if request.session.carro.items %}
        <div class="offcanvas-body">
            <div class="cart-items">
                {% for key, value in request.session.carro.items %}
                    <div class="cart-item border rounded p-2 mb-2">
                        <div class="d-flex align-items-center">
                            <img src="{{ producto.imagen.url }}" alt="Arnes grande" class="cart-item-img" width="50" height="50">
                            <div class="cart-item-details ms-2">
                                <h6 class="cart-item-title mb-1">{{value.nombre_producto}}</h6>
                                <p class="cart-item-price mb-1">${{value.precio}} CLP</p>
                                <div class="cart-item-quantity">
                                    <a href="{% url 'restar' value.producto_id %}">
                                        <button class="btn btn-sm btn-outline-secondary" >-</button>
                                    </a>
                                    <span class="quantity"> {{value.cantidad}} </span>
                                    <a href="{% url 'agregar' value.producto_id %}">
                                        <button class="btn btn-sm btn-outline-secondary">+</button>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% else %}
        <tr>
            <td colspan="3">
                <div class="alert alert-danger text-center">

                    Sin productos
                </div>
            </td>
        </tr>
    {% endif %}

    <div class="offcanvas-footer">
        <div class="cart-total">
            <p>Total:</p>
            <p class="total-price">$ {{importe_total_carro}} CLP</p>
        </div>
        <button class="btn btn-primary btn-checkout">Ir a pagar</button>
    </div>
</div>