<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    {% include 'base/default_head.html' %}
    <link rel="stylesheet" href="{% static 'css/customcatalogo.css' %}">
</head>

<body>
    {% include 'base/navbar.html' %}

    <div style="margin-top: 150px;"></div>
    <div class="container-items">
        {% for producto in productos %}
        <div class="item" style="width: 18rem;">
            <figure>
                <img src="{{ producto.imagen.url }}" alt="{{ producto.nombre_producto }}" />
            </figure>
            <div class="info-producto">
                <h2>{{ producto.nombre_producto }}</h2>
                <p class="precio">${{ producto.precio }}</p>
                <a href="#"><button id="boton" class="btn mb-3" type="submit">Ver Detalles</button></a>
                <button id="boton" class="btn" type="submit" data-bs-toggle="modal"
                    data-bs-target="#exampleModal">Añadir al carrito</button>
            </div>
        </div>
        {% endfor %}
    </div>
    
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">¿Agregar al Carro?</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>¿Estás seguro que deseas agregar este producto al carrito?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Quitar</button>
                    <button type="button" class="btn btn-success" data-bs-dismiss="modal">Agregar</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Carrito de compra -->
    {% include 'base/carro_compra.html' %}
</body>
</html>
