<!DOCTYPE html>
<html lang="en">
    {% load static %}
<head>
    {% include 'base/default_head.html' %}
    <link rel="stylesheet" href="{% static 'css/customcontacto.css' %}">
</head>

<body>
    {% include 'base/navbar.html' %}

    <div style="margin-top: 150px;"></div>
    <div class="container">
        <div class="row">
            <form action="{% url 'guardar_mensaje' %}" method="POST" class="col-lg-4 mx-auto shadow-lg rounded-5 text-center mt-3 mb-4 p-5 custom-background">
                {% csrf_token %}
                <h3>Contacto</h3>
                <div class="form-floating mx-auto mb-2">
                    <input type="email" class="form-control" name="email" id="email" placeholder="Ingrese correo electrónico" required>
                    <label for="email">Email</label>
                </div>
                <div class="form-floating mx-auto mb-2">
                    <textarea class="form-control" name="mensaje" id="mensaje" placeholder="Ingrese su mensaje" required></textarea>
                    <label for="mensaje">Mensaje</label>
                </div>
                <div class="form-group mx-auto">
                    <input type="submit" value="Enviar" class="btn btn-outline-primary">
                    <input type="reset" value="Limpiar" class="btn btn-outline-warning">
                </div>
            </form>
        </div>
        <div class="row justify-content-center contact-info">
            <div class="col-md-6 text-center">
                <p><i class="fas fa-map-marker-alt"></i> Dirección: Antonio Varas #666, Providencia</p>
                <p><i class="fas fa-phone"></i> Teléfono: +1234567890</p>
                <p><i class="fas fa-envelope"></i> Correo electrónico: info@example.com</p>
            </div>
        </div>
    </div>
    
    <!-- Carrito de compra -->
    {% include 'base/carro_compra.html' %}
</body>
</html>
