<!DOCTYPE html>
<html lang="en">

<head>
    {% include 'base/default_head.html' %}

    <link rel="stylesheet" href="{% static 'custom/custompdp.css' %}">
    <script src="{% static 'js/jquery.zoom.js' %}"></script>
</head>

<body>
    {% include 'base/navbar.html' %}

    <div style="margin-top: 150px;"></div>

    <div class="container mb-5">
        <div class="row">
            <div class="col-md-6">
                <div class="zoom">
                <img class="img-fluid" src="img/articulo 1 arnes.jpg" alt="">
            </div>
            <div class="colores-variantes">
                <div class="rojo"></div>
                <div class="azul"></div>
                <div class="verde"></div>
            </div>
        <div class="otros-colores">¡Otros colores!</div>
            </div>
            <div class="col-md-6 d-flex flex-column justify-content-between">
                <div>
                    <br>
                    <h1 class= "titulo" style="color:#B45F2B; text-align:left;" class="text-md-start">Arnés Perros grandes</h1>
                    <br>
                    <div class="descripcion-articulo" div style=" color: #B45F2B; text-align: left;">
                        <p>Arnés grande para perros ajustable</p>
                        <p>Incluye:</p>
                        <p></p>
                        <p>◉ Correa de 2.5 metros</p>
                        <p>◉ Arnés reforzado, se ajusta con comodidad para tu mascota</p>
                        <p>◉ Medida Pecho 49cm a 74cm</p>
                        <p>◉ Costillas 58cm a 83cm</p>
                        <p>◉ Peso 40kg</p>
                    </div>
                </div>
                <div class="d-md-flex justify-content-md-between align-items-md-center">
                    <div>
                        <h1 class="valor" style="color:#B45F2B;" class="text-md-start">$10.000 CLP</h1>
                    </div>
                    <div>
                        <button id="boton" class="btn ms-3" type="submit">Agregar al carro</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <!-- Carrito de compra -->
    {% include 'base/carro_compra.html' %}
    
    <script>
        $(document).ready(function(){
            $('.zoom').zoom();
        });
    </script>
</body>
</html>