<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    {% include 'base/default_head.html' %}
    
    <link rel="stylesheet" href="{% static 'css/custom-registro-inicio.css' %}">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <script src="{% static 'js/validaciones.js' %}"></script>
</head>

<body>
    {% include 'base/navbar.html' %}

    <div class="container-form register">
        <div class="information">
            <div class="info-childs">
                <h2>Bienvenido/a</h2>
                <p>Mantente al tanto de las novedades de nuestra tienda</p>
                <a href="{% url 'inicio_sesion' %}"><button id="boton" class="btn ms-3"
                    type="submit">Inicia sesión</button></a>
            </div>
        </div>
        <div class="form-information">
            <div class="form-information-childs">
                <h2>Crear una cuenta</h2>
                <form class="form">
                    <label>
                        <i class='bx bx-user'></i>
                        <input id="username" type="text" placeholder="Nombre y apellido">
                    </label>
                    <label>
                        <i class='bx bx-envelope' ></i>
                        <input id="email" type="email" placeholder="Correo electronico">
                    </label>
                    <label>
                        <i class='bx bx-lock-alt' ></i>
                        <input id="pass" type="password" placeholder="Contraseña">
                    </label>
                    <input onclick="validarCrearCuenta()" type="submit" value="Registrarse">
                    
                    <!--TODO: BOTONES DE VALIDACION, MODIFICAR LUGAR, ASPECTO, ETC.-->
                    <div class="form-group mx-auto botones">
                        <input type="reset" value="Limpiar" class="btn btn-outline-warning btn-l">
                        <button type="button" onclick="validarCrearCuenta()" class="btn btn-outline-warning btn-l">Validar</button>
                    </div>
                </form>

                <div id="resultado">
                </div>
            </div>
        </div>
    </div>

<!--login-->

    
</html>