<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    {% include 'base/default_head.html' %}
    
    <link rel="stylesheet" href="{% static 'css/custom-registro-inicio.css' %}">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <script src="{% static 'js/script-registro-inicio.js' %}"></script>
    <script src="{% static 'js/validaciones.js' %}"></script>
</head>

<body>
    {% include 'base/navbar.html' %}

    <div class="container-form register">
        <div class="information">
            <div class="info-childs">
                <h2>Bienvenido/a</h2>
                <p>Mantente al tanto de las novedades de nuestra tienda</p>
                <input type="button" value="Iniciar sesión" id="iniciosesion">
            </div>
        </div>
        <div class="form-information">
            <div class="form-information-childs">
                <h2>Crear una cuenta</h2>
                <form class="form">
                    <label>
                        <i class='bx bx-user'></i>
                        <input id="username" type="text" placeholder="Nombre y apellido">
                    </label>
                    <label>
                        <i class='bx bx-envelope' ></i>
                        <input id="email" type="email" placeholder="Correo electronico">
                    </label>
                    <label>
                        <i class='bx bx-lock-alt' ></i>
                        <!--<input type="password" id="psw" name="psw" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" required>-->
                        <input id="pass" type="password" placeholder="Contraseña">
                    </label>
                    <input onclick="validarCrearCuenta()" type="submit" value="Registrarse">
                    
                    <!--TODO: BOTONES DE VALIDACION, MODIFICAR LUGAR, ASPECTO, ETC.-->
                    <div class="form-group mx-auto botones">
                        <input type="reset" value="Limpiar" class="btn btn-outline-warning btn-l">
                        <button type="button" onclick="validarCrearCuenta()" class="btn btn-outline-warning btn-l">Validar</button>
                    </div>
                </form>

                <div id="resultado">
                </div>
            </div>
        </div>
    </div>

<!--login-->

    <div class="container-form login hide" >
        <div class="information">
            <div class="info-childs">
                <h2>Bienvenido/a nuevamente</h2>
                <p>Inicia sesion con tu cuenta, si no tienes una, registrate</p>
                <input type="button" value="Registrarse" id="registro">
            </div>
        </div>
        <div class="form-information">
            <div class="form-information-childs">
                <h2>Iniciar sesión</h2>
                <form class="form">
                    <label>
                        <i class='bx bx-envelope' ></i>
                        <input id="emailInicioSesion" type="email" placeholder="Correo electronico">
                    </label>
                    <label>
                        <i class='bx bx-lock-alt' ></i>
                        <input id="passInicioSesion" type="password" placeholder="Contraseña">
                    </label>
                    <input type="submit" value="Iniciar sesión">

                    <div class="form-group mx-auto botones">
                        <input type="reset" value="Limpiar" class="btn btn-outline-warning btn-l">
                        <button type="button" onclick="validarInicioSesion()" class="btn btn-outline-warning btn-l">Validar</button>
                    </div>
                    <div id="resultadoInicio"></div>
                </form>
            </div>
        </div>
        
    <!-- Carrito de compra -->
    {% include 'base/carro_compra.html' %}

<script src="js/script-registro-inicio.js"></script>
<script src="js/validaciones.js"></script>
</body>
</html>