<!DOCTYPE html>
<html lang="en">

{% load static %}
<head>
    {% include 'base/default_head.html' %}
    
    <link rel="stylesheet" href="{% static 'css/custom-ubi.css' %}">
</head>

<body>
    {% include 'base/navbar.html' %}

    <div class="container">
        <h2> Estamos ubicados en Antonio Varas #666, Providencia</h2>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3329.6255333660197!2d-70.61748468915455!3d-33.43300587328534!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9662cf7b8af466fd%3A0xc8fd2d768e783103!2sDuoc%20UC%3A%20Antonio%20Varas!5e0!3m2!1ses-419!2scl!4v1711921354860!5m2!1ses-419!2scl" 
        width="600" height="450"
        style="border:0;" 
        allowfullscreen="" 
        loading="lazy" 
        referrerpolicy="no-referrer-when-downgrade">
        </iframe>
    </div>
    
    <!-- Carrito de compra -->
    {% include 'base/carro_compra.html' %}
</body>

</html>