.titulo{
    color: #663100;
    margin-bottom: 10%;
    font-weight: 600;
    font-size: 50px;
    text-decoration: underline;
}
.zoom {
    position: relative;
    border-radius: 50px;
}

.zoom img {
    display: block;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
    border-radius: 50px;
}


.descripcion-articulo{
    background-color: #FFF5E6;
    padding: 20px;
    border-radius: 10px;
    font-size: 25px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}
.valor{
    font-weight: 600;
}
.img-fluid {
    width: 600px;
    height: 600px;
    object-fit: fill;
}
.descripcion-lista {
    list-style-type: disc;
    padding-left: 20px; 
    margin-top: 10px;     
}

.descripcion-item {
    margin-bottom: 5px;  
    color: #663100;       
    font-size: 20px;       
    line-height: 1.5;     
}
.precio-carro-container {
    margin-top: 10%;
    padding: 10px;
    background-color: #FFF5E6;
    border-radius: 10px;
    display: flex;
    align-items: center;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
}
.agregar-carro {
    margin-left: auto;
    background-color: #FFA500 !important;
    color: white !important;
    border: none !important;
    padding: 10px 20px; 
    cursor: pointer; 
    transition: background-color 0.3s ease; 
}

.agregar-carro:hover {
    background-color: #FFD700 !important;
}

.agregar-carro:active {
    background-color: #FF6347 !important;
}