*{
    padding: 0;
    margin: 0;
    box-sizing:border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 120vh;
}
.container-form{
    box-shadow: 0 5px 7px rgba(0, 0, 0, .1);
    border-radius: 20px;
    display: flex;
    height: 500px;
    max-width: 900px;
    transition: all 1s ease;
    margin: 10px;

}
.information{
    width: 40%;
    display: flex;
    align-items: center;
    text-align: center;
    background-color:  #ffc4a4;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    color: #B45F2B;
}
.info-childs{
    width: 100%;
    padding: 30px;
}
.info-childs h2{
    font-size: 2.5rem;
    font-weight: bolder;
}
.info-childs p{
    margin: 15px 0;
}
.info-childs input{
    outline: none;
    border: solid 2px #f87828;
    outline-width: 1px;
    outline-color: #f87828;
    background-color: #ff914d;
    border-radius: 20px;
    padding: 10px 20px;
    color:white;
    transition: background-color .3s ease;
}
.info-childs input:hover{
    background-color: #f87828;
    border: none;
    color: grey;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .1);
}
.form-information{
    padding-left: 100px;
    display: flex;
    align-items: center;
    text-align: center;
    width: 60%;
    background-color: white;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}
.form-information-childs{
    padding: 0 30px;
    align-items: center;
}
.form-information-childs h2{
    font-size: 2rem;
    font-weight: bold;
    color: #ff914d;
}
.form{
    margin: 30px 0 0 0;
}
.form label{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    border-radius: 20px;
    padding: 0 10px;
    background-color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .5);
}
.form label input{
    width: 100%;
    border: none;
    padding: 10px;
    border-radius: 20px;
    color: #333;
    background-color: white;
}
.form label i{
    color:#f87828;
}
.form input[type="submit"]{
    outline: none;
    border: none;
    outline-width: 1px;
    outline-color: #f87828;
    background-color: #ff914d;
    border-radius: 20px;
    padding: 10px 10px;
    color:white;
    transition: background-color .3s ease;
}
.form input[type="submit"]:hover{
    background-color: #f87828;
    border: none;
    color: grey;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .5);
}
/*botones*/
.botones{
    padding-top: 20px;
    justify-content: center;
}
.btn-l{
    border: 20px;
    background-color: #e45700 !important;
    outline: none !important;
    outline-width: 1px;
    outline-color: #f87828 !important;
    color: white;
    border-radius: 20px;
    padding: 10px 10px;
    transition: background-color .3s ease;
    
}
.btn-l:hover{
    background-color: #f87828;
    border: none;
    color: grey;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .5);
}


@media screen and (max-width:750px){
    html{
        font-size: 12px;
    }
}
@media screen and (max-width:580px){
    html{
        font-size: 10px;
    }

    .container-form{
        flex-direction: column;
    }

    .information{
        width: 100%;
        padding: 20px;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;

    }

    .form-information{
        width: 100%;
        padding: 20px;
        border-bottom-left-radius: 20px;
        border-top-right-radius: 0px;
    }
}
