body{
    background-color: #ffe9b8;
}

#boton{
    outline: solid;
    outline-width: 1px;
    outline-color: #f87828;
    background-color: #ff914d;
}

#botonbuscar{
    outline: solid;
    outline-width: 1px;
    background-color: #ffbd59;
}

#carta{
    background-color: #ffc4a4;
}