body{
    background: linear-gradient(90deg,#ffe9b8,#ffe8d6);
}

#boton{
    outline: solid;
    outline-width: 1px;
    outline-color: #f87828;
    background-color: #ff914d;
}

#botonbuscar{
    outline: solid;
    outline-width: 1px;
    background-color: #ffbd59;
}

#carta{
    background-color: #ffc4a4;
}

.carousel-control-prev{
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(255, 189, 89, 0.401) 0%, rgba(255,255,255,0) 100%);
}

.carousel-control-next{
    background: rgb(0,0,0);
    background: linear-gradient(270deg, rgba(255, 189, 89, 0.4009978991596639) 0%, rgba(255,255,255,0) 100%);
}

.slide{
    min-width: 500px;
    max-width: 500px;
    min-height: 500px;
    max-height: 500px;
    object-fit: cover;
}

.carousel-item{
    object-fit: cover;
}

